.albDiv {
	/* background: none repeat scroll 0 0 #F7E7E7;
	 */width: 762px;
	margin: auto;
}

.oithumbns {
	margin: 5px;
	/*border: 1px solid green;*/
	padding: 5px;
	width: 130px;
	height: 120px;
}
.oithumbns:hover{
	/*border-right: 2px solid green;
	border-bottom: 2px solid green;*/
	background: none repeat scroll 0 0 #BDC7D8;
	cursor:pointer;
}

.mainpdiv {
	border: 1px solid #BDC7D8;;
	width: 152px;
	margin: 7px;
	padding: 5px 0px;
}

.albName {
	/*border: 1px solid #8BFCCA;*/
	font-size: 10px;
	height: 15px;
	font-weight: bold;
	margin: auto;
	width: 100%;
	position: relative;
	text-align: center;
}