@charset "utf-8";
/* CSS Document Original Images Style written by Eric Njoroge /// Kenya*/

/********** reset*********/

/* html, body {
	margin:0;
	padding:0;
	background-color:#f8f7f7;
	font-family:"Century Gothic", Arial, Helvetica, sans-serif;
	font-size:12px;
	letter-spacing:normal;
	line-height:1.8em;
	text-align:justify;
	list-style-position: outside;


} */

body {
	font-family:"Century Gothic", Arial, Helvetica, sans-serif;
	font-size:12px;
	margin: 0px;
    padding: 0px;
    list-style-position: outside;
    width: 100%;
    background-color:#f8f7f7; 
    
    letter-spacing:normal;
	line-height:1.8em;
	list-style-position: outside;
}


.raisedabit{
	margin:0px !important;
	padding: 0px !important;
	font-weight:normal;
}
span{
font-size:16px;
	font-weight:bold;
padding:0px 0px 0px 5px;
}

a:link, a:hover, a:visited {
	outline:none;
}


a {
	text-decoration: none;
	color: #f95991;
	font-size:14px;
	font-weight:bold;
}


#editorSpan {
	height: 17px;
	width: 400px;
	/* border: 1px solid #737CA1;
	background-color: #E3E4FA; */
	padding: 2px 2px 0px 2px;
}

.oiditorbutton {
	width: 27px;
	height: 15px;
	float: left;
}



.oipointers {
	cursor: pointer;
}

.puthere { 
	padding: 0px;
	font-size: 10px;
	float: right;
	color: #2B3856;
	/*border: 1px solid red;*/
}

.oismallLinks {
	font-size: 10px;
	color: #357EC7;
	cursor: pointer;
}




 a:hover {
color: #c3053b;
}

a img {
	border:0;
}

h2 {
	color: #f95991;
	padding:0px 0px 5px 0px;
	border-bottom:1px dashed #f95991;
	font-size:21px;
	font-weight:normal;
}

h3 {
	color: #000;
	padding:0px 0px 5px 10px;
	font-size:21px;
	font-weight:bold;
}


h2 a {
	font-weight:normal;
	padding:0px 0px 5px 0px;
	text-decoration: none;
	color: #000;
		font-size:21px;
}

h2 a:hover {
	color: #63c5fd;
	
}

#clr {
	height:10px;
	clear:left;}

/********** page wrapper**********/
#container {z-index:1;
	position:relative;
	width:1024px;
	margin-left:auto;
	margin-right:auto;background-color:#f8f7f7;
	margin-top:3%;
/***border:1px dashed #f95991;****/

}



/********** slider**********/
#slider {
	padding:30px 0px 0px 10px;

			

}

#featured {
	width: 1000px;
	height: 700px;
	background:url('orbit/loading.gif') no-repeat center center;
	
}

/********** content**********/



/**********banner **********/

#banner {
	/* margin:0px 0px 0px 350px;
	padding:50px 0px 0px 0px; */
}


#enter {
padding:50px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	width:960px;
	}

#door{
	margin:0px 0px 0px 50px;
	width:270px;
	float:left;
	text-align: center;
	}
	
	#door img{
margin:0 0 5px 0;
border:4px solid #ddd;	
}

#door a:hover img {
border: 4px solid #000;
}



/**********footer **********/
#footer {
	height:40px;
	border-top:1px solid #ddd;
}

#footer p {
	color:#000;
	padding:10px 0px 0px 0px;
	text-align:center;
}


/**********about **********/

#left{
float:left;
width: 400px;

margin:0px 0px 0px 10px;
}



#right{
float:left;

}

/**********services **********/

#services{
width:1000px;

margin:10px 0px 0px 10px;
}

/* Tiny Scrollbar */
#scrollbar1 {
	width: 500px;
	margin: 2px 0px 0px 20px;
}
#scrollbar1 .viewport {
	width: 470px;
	height: 350px;
	overflow: hidden;
	position: relative;
}
#scrollbar1 .overview {
	list-style: none;
	position: absolute;
	left: 0;
	top: 0;
	padding: 0;
	margin: 0;
}
#scrollbar1 .scrollbar {
	background: transparent url(../images/bg-scrollbar-track-y.png) no-repeat 0 0;
	position: relative;
	background-position: 0 0;
	float: right;
	width: 15px;
}
#scrollbar1 .track {
	background: transparent url(../images/bg-scrollbar-trackend-y.png) no-repeat 0 100%;
	height: 100%;
	width:13px;
	position: relative;
	padding: 0 1px;
}
#scrollbar1 .thumb {
	background: transparent url(../images/bg-scrollbar-thumb-y.png) no-repeat 50% 100%;
	height: 20px;
	width: 25px;
	cursor: pointer;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: -5px;
}
#scrollbar1 .thumb .end {
	background: transparent url(../images/bg-scrollbar-thumb-y.png) no-repeat 50% 0;
	overflow: hidden;
	height: 5px;
	width: 25px;
}
#scrollbar1 .disable {
	display: none;
}




/**TIMO ADDED*/

.oinavigator {
	margin-left: 905px;
	margin-top: -330px;
	width: auto;
	height: auto;
}

.oioverdiv2 {
	background: none repeat scroll 0 0 #F7F0F7;
	border: 1px solid #D7D7D7;
	width: 100%;
}



.fiftypixwide{
	width: 50px;
	text-align: left;
}

#ad{
width:400px;
float:right;

padding-right:200px:
}

#edit{
width:400px;
}

#edit p{
text-align:left;
}

#edit h3{
text-align:left;
}


#edit ul li {
	liststyle:none;
	display:inline;
}

#edit li a {
color:#0000FF;
	display: block;
	padding:0px 0px 0px 10px;
	text-decoration: none;
	font-weight:normal;
	font-size:13px;
text-align:center;
}

#edit li a:hover {
	color: #f95991;
}

#cl{
margin:50px 0px 0px 50px;

}

#sign{
width:600px;
height:auto;

text-align:center;
padding:0px 0px 0px 200px;

}

#sign img{
float:left;
margin:0px 0px 0px 250px;

}

#footer a{
color:#000;
}

.footer a{
color:#000;
}
.footer{
color:#0001ab;
}


#footer a:hover {
	color: #f95991;
}